{% extends 'partials/base.html.twig' %}

{% block main_content %}
{{ page.content }}
{% endblock main_content %}

{% block sidebar_content %}
<h2>Sidebar</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis veniam ipsa possimus temporibus sunt quod blanditiis commodi aperiam nemo vero ex provident corrupti, dolore, esse qui, facere. Repellendus provident fuga quo voluptatem, necessitatibus error optio perspiciatis delectus inventore, architecto itaque.</p>
<p>Accusamus itaque, quas dolore ipsam reiciendis, saepe nulla culpa velit porro hic earum quisquam. Earum quibusdam mollitia, quae aut quos. Minima quos perspiciatis ipsum eveniet nesciunt saepe deleniti quas eum dignissimos quam aperiam vel cum cupiditate laborum culpa, debitis atque.</p>
<p>Et, sunt, molestiae. Possimus nobis commodi repellat sequi ipsam explicabo distinctio quisquam nihil cumque ullam neque quidem, nesciunt eveniet, vitae quaerat nostrum. Fugiat, ullam ex quod eaque dolorum eligendi temporibus optio neque odit eveniet! Quae quasi, commodi sed est harum.</p>
{% endblock sidebar_content %}
