/* Fonts */
$font-text: 'Roboto', 'Noto', sans-serif;
$font-header: 'Lora', serif;
$font-monospace: 'Space Mono', monospace;
$font-handwritten: 'Architects Daughter', cursive;

/* Colours */
$color-primary: #0af;
$color-primary-dark: #05f;
$color-accent: #607d8b;
$color-text-light: #fff;
$color-text-dark: rgba(0,0,0,.8);