@import '_style_theme';
@import '_style_material';

/* Element styles */

html {
  font-family: $font-text;
  color: $color-text-dark;
}

h1 {
  font: italic 700 2.5rem $font-header;
}

h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: $font-header;
}

a {
  color: $color-primary-dark;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: $color-primary;
  text-decoration: underline;
}

code, 
samp, 
var, 
kbd,
pre {
  font-family: $font-monospace;
}

ul li {
  list-style-type: square; 
}

::selection {
       background-color: $color-primary-dark;
       color: $color-text-light;
}

::-moz-selection {
       background-color: $color-primary-dark;
       color: $color-text-light;
}

/* Layout */

body {
  margin: 0; 
}

#container {
  display: flex;
  flex-flow: row wrap; 
  margin: 0 auto;
  max-width: 64rem;
}

header,
main, 
#sidebar, 
footer {
  flex: 100%; 
  overflow: hidden;
}

@media screen and (min-width: 48em) {
  
  body {
    background-image: url("../images/header_bg.jpg");
    background-position-x: center;
    background-position-y: -8px;
    background-repeat: no-repeat;
  }
  
  main {
    flex: 3 1 1%;
    max-width: 48rem;
  }

  #sidebar {
    flex: 1 1 1%;  
  }
}

/* Navigation */

#page-navigation {
  background: $color-primary;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; // Stack navigation on top of content
}

#page-navigation ul {
  list-style: none;
  margin: 0 auto;
  max-width: 64rem;
  padding: 0;
}

#page-navigation ul li{
  color: $color-text-light;
  display: inline-block;
  transition: .1s;
}

#page-navigation ul li:hover {
  background: $color-primary-dark;
  transition: .15s;
 }

.page-navigation-collapsed {
  cursor: pointer;
  display: inline-block;
}

.page-navigation-collapsed i{
  padding: .75rem;
}

#page-navigation-collapsed-logo{
  display: block;
  float: right;
  padding: 0;
}

#page-navigation-collapsed-logo a{
  width: 24px;
  height: 24px;
}

#page-navigation a {
  color: $color-text-light;
  display: inline-block;
  font-weight: normal;
  padding: .75rem;
  text-decoration: none;
}

#page-navigation ul li i, 
#page-navigation ul li .page-navigation-label{
  vertical-align: middle;
}

#page-navigation .page-navigation-full {
  display: none;
}

@media screen and (min-width: 48em) {
  #page-navigation .page-navigation-full {
    display: inline-block;
  }
  
  #page-navigation .page-navigation-collapsed {
    display: none;
  }
}

/* Header */

#page-header {
  background-image: url("../images/header_bg_pattern.png");
  box-shadow: 0 10px 6px rgba(0, 0, 0, .15);
  display: flex;
  opacity: .9;
  padding: 4rem .5rem 1rem .5rem;
}

#page-header-logo {
  display: none;
  margin-right: 1rem;
  margin-top: .4rem;
  width: 4rem;
}

#page-header-pagename {
  display: block;
  font: 600 1.5rem $font-handwritten;
}

#page-header-breadcrumbs {
  margin-top: .25rem;
}

#page-header-breadcrumbs i,
#page-header-breadcrumbs a,
#page-header-breadcrumbs span,{
  font-size: .9rem;
  vertical-align: middle;
}


@media screen and (min-width: 24em) {
  #page-header-pagename {
    font-size: 2rem;
  }
  
  #page-header-breadcrumbs i,
  #page-header-breadcrumbs a,
  #page-header-breadcrumbs span,{
    font-size: 1rem;
  }
}

@media screen and (min-width: 48em) {
  #page-header {
    background: none;
    box-shadow: none;
    margin-bottom: 1.5rem;
    transform: rotate(-1deg);
  }
  
  #page-header-logo {
    display: block;
  }
}

/* Main */

main {
  margin-top: 1rem;
  padding: 0 .5rem; 
}

#sidebar {
  margin-top: 1rem;
  padding: 0 .5rem; 
}