<div id="page-header-logo">
  <a class="logo left" href="{{ base_url == '' ? '/' : base_url }}">
    <img src="{{ url('theme://images/logo.svg') }}" alt="Logo of the J-site." >
  </a>
</div>
<div id="page-header-text">
  <span id="page-header-pagename">{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</span>
  {% include 'partials/breadcrumbs.html.twig' %}
</div>