<ul>
  <li><a href="/"><i class="material-icons">home</i> <span class="page-navigation-label">Home</span></a></li>
  <li><a href="#"><i class="material-icons">chat</i> <span class="page-navigation-label">Blog</span></a></li>
  <li><a href="#"><i class="material-icons">description</i> <span class="page-navigation-label">Articles</span></a></li>
  <li><a href="#"><i class="material-icons">assignment</i> <span class="page-navigation-label">Projects</span></a></li>
  <li><a href="about"><i class="material-icons">info</i> <span class="page-navigation-label">About</span></a></li>
</ul>